<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <base href="~/" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
